### Goal: To create and manipulate data required  for the database tables and their keys.

#### Importing Libraries and loading data

In [7]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('External_factors.csv')

In [4]:
df.head()

,Year,Indicator,Metric,Value
0,1990,Renewable electricity output,% of total electricity output,11.528647
1,1991,Renewable electricity output,% of total electricity output,10.757414
2,1992,Renewable electricity output,% of total electricity output,9.916110
3,1993,Renewable electricity output,% of total electricity output,10.484326
4,1994,Renewable electricity output,% of total electricity output,9.747236

#### Creating a dataframe for Year

In [8]:
df_year =df[['Year']]

In [9]:
df_year.drop_duplicates(keep='first',inplace=True)

In [10]:
df_year.reset_index(inplace=True)
df_year.drop('index',axis=1,inplace=True)

In [11]:
df_year['Year ID'] = df_year.index + 1 #Creating unique Id for Year ID

In [14]:
df_year.head()

   Year  Year ID
0  1990        1
1  1991        2
2  1992        3
3  1993        4
4  1994        5

In [15]:
df_1 = df

In [16]:
df_1 = df.merge(df_year,left_on='Year',right_on='Year',how='left')

In [19]:
df_1.head()

,Year,Indicator,Metric,Value,Year ID
0,1990,Renewable electricity output,% of total electricity output,11.528647,1
1,1991,Renewable electricity output,% of total electricity output,10.757414,2
2,1992,Renewable electricity output,% of total electricity output,9.916110,3
3,1993,Renewable electricity output,% of total electricity output,10.484326,4
4,1994,Renewable electricity output,% of total electricity output,9.747236,5

#### Creating Indicator dataframe

In [20]:
df_meta = df_1[['Indicator','Metric']]

In [21]:
df_meta.drop_duplicates(keep='first',inplace=True)

In [22]:
df_meta.reset_index(inplace=True)
df_meta.drop('index',axis=1,inplace=True)

In [23]:
df_meta['Indicator ID'] = df_meta.index + 1

In [24]:
df_meta.head()

,Indicator,Metric,Indicator ID
0,Renewable electricity output,% of total electricity output,1
1,"CO2 Emissions By Motor Gasoline, Excluding Eth...",Million Metric Tons,2
2,CO2 Emissions (Million Metric Tons) By Petrole...,Million Metric Tons,3
3,CO2 Emissions By Total Energy Transportation S...,Million Metric Tons,4
4,All Grades All Formulations Retail Gasoline Pr...,Dollars per Gallon,5

In [25]:
df_meta.shape

(13, 3)

In [26]:
df_1 = df_1.merge(df_meta,left_on=['Indicator','Metric'],right_on=['Indicator','Metric'],how='left')

In [27]:
df_1.head()

,Year,Indicator,Metric,Value,Year ID,Indicator ID
0,1990,Renewable electricity output,% of total electricity output,11.528647,1,1
1,1991,Renewable electricity output,% of total electricity output,10.757414,2,1
2,1992,Renewable electricity output,% of total electricity output,9.916110,3,1
3,1993,Renewable electricity output,% of total electricity output,10.484326,4,1
4,1994,Renewable electricity output,% of total electricity output,9.747236,5,1

In [29]:
df_1.isnull().sum()

Year            0
Indicator       0
Metric          0
Value           0
Year ID         0
Indicator ID    0
dtype: int64

In [32]:
df_1 = df_1[['Year ID','Indicator ID','Value']]

#### Exporting dataframes as CSV

In [37]:
df_year.to_csv('Factor Year Table.csv',index=False)

In [38]:
df_meta.to_csv('Factor Indicator Table.csv',index=False)

In [39]:
df_1.to_csv('Factor Fact Table.csv',index=False)